@charset "UTF-8";

body {
	display: flex;
	flex-wrap: wrap;
}

.sidenav {
	border-radius: 15px;
	overflow: hidden;
}

.main-content {
	margin-left: 270px; /* Espaço ajustado para a sidebar */
	flex-grow: 1;
}

.total-produtos {
	margin-bottom: 20px; /* Evita sobreposição */
	background-color: #f8f9fe;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media ( max-width : 991px) {
	.main-content {
		margin-left: 0;
	}
	.sidenav {
		border-radius: 10px;
		margin: 10px;
	}
}

.main-content {
	margin-left: 250px;
}

.main-content {
	margin-left: 250px;
}
/* Ajusta as tabelas para dispositivos móveis */
@media ( max-width : 767px) {
	table thead {
		display: none;
	}
	table, table tbody, table tr, table td {
		display: block;
		width: 100%;
	}
	table td {
		text-align: right;
		padding-left: 50%;
		position: relative;
	}
	table td::before {
		content: attr(data-label);
		position: absolute;
		left: 10px;
		font-weight: bold;
	}
	table td:last-child {
		padding-bottom: 10px;
	}
}